# macro order_by_link(property, title, ignore='cursor')
  # if request.args.get('order') == property
    <a href="{{update_query_argument('order', '-' + property, ignore)}}">{{title}}</a>
    <i class="fa fa-chevron-up text-muted"></i>
  # elif request.args.get('order') == '-' + property
    <a href="{{update_query_argument('order', property, ignore)}}">{{title}}</a>
    <i class="fa fa-chevron-down text-muted"></i>
  #else
    <a href="{{update_query_argument('order', property, ignore)}}">{{title}}</a>
  #endif
# endmacro


# macro filter_by_link(property, value, icon=None, ignore='cursor', is_list=False)
  # set value = '%s' % value
  <a href="{{update_query_argument(property, None if request.args.get(property) == value else value, ignore, is_list)}}"
     class="btn btn-default {{'active' if value in request.args.get(property, '').split(',')}}">
    # if icon
      <i class="fa fa-{{icon}}"></i>
    # else
      {{value}}
    # endif
  </a>
# endmacro


# macro next_link(next_url, prev_url=None, next_caption='', prev_caption='')
  # if next_url or prev_url
    <ul class="pager text-center">
      # if prev_url
        <li class="previous"><a href="{{prev_url}}" rel="nofollow">{{prev_caption|safe if prev_caption else 'Prev Page'}}</a></li>
      # endif
      # if next_url
        <li class="next"><a href="{{next_url}}" rel="nofollow">{{next_caption|safe if next_caption else 'Next Page'}}</a></li>
      # endif
    </ul>
  # endif
# endmacro


# macro prefetch_link(url)
  # if url
    <link rel="prerender" href="{{url}}" />
    <link rel="prefetch" href="{{url}}" />
  # endif
# endmacro


# macro auth_icon(auth_id)
  <span class="fa fa-fw {{provider_icon(auth_id)}}"></span>
# endmacro


# macro auth_icons(auth_ids)
  # for auth_id in auth_ids
    {{auth_icon(auth_id)}}
  # endfor
# endmacro


# macro html_element(name, content)
  <{{name}}
    #- for arg in kwargs
      {{arg}}="{{kwargs[arg]}}"
    #- endfor
  >
  #- if content
    {{content}}</{{name}}>
  #- endif
# endmacro
