# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils
# import 'auth/macro/providers.html' as providers_macro

# block content
<div class="page-header">
  <h1>
    {{utils.back_link('back to user admin page', 'admin.index')}}
    {{title}}
  </h1>
  <p class="help-block">
    For most of the settings to be applied for everyone, you will
    # if instances_url
    <a href="{{instances_url}}" target="_blank">have to restart</a>
    # else
    have to restart
    # endif
    the <a href="https://developers.google.com/appengine/docs/adminconsole/instances" target="_blank" >instances</a>.
  </p>
</div>

<form method="POST" action="" novalidate>
  <div class="row">
    <fieldset class="col-sm-6 col-md-7">
      <legend>Auth keys</legend>
      {{form.csrf_token}}
      <div class="panel-group" id="oauth">
        # for provider in auth_providers
          # if provider.fields
            {{
              forms.oauth_fields(
                  provider.title or provider.name|capitalize,
                  provider.fields,
                  providers_macro.include_admin_help(provider)
                )
            }}
          # endif
        # endfor
      </div>
    </fieldset>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <button type="submit" class="btn btn-primary btn-lg btn-block btn-loading" data-loading-text="Updating Config..">
        Update Config
      </button>
    </div>
  </div>
</form>
# endblock
