# extends 'base.html'
# import 'macro/forms.html' as forms

# block content

  <div class="page-header">
    <h1>Admin</h1>
  </div>
  <div class="row">
    <ul class="nav nav-justified">
      <li>
        <a class="text-center"
           href="{{ url_for('admin.config_update') }}">
          <i class="fa fa-cog fa-5x"></i><br>
          App Config
        </a>
      </li>
      <li>
        <a class="text-center"
           href="{{ url_for('auth.admin.index') }}">
          <i class="fa fa-lock fa-5x"></i><br>
          Auth Config
        </a>
      </li>
      <li>
        <a class="text-center"
           href="{{ url_for('user.list', order='-modified', active=True) }}">
          <i class="fa fa-users fa-5x"></i><br>
          User List
        </a>
      </li>
      <li>
        <a class="text-center"
           href="{{ url_for('feedback.admin.list', order='-created', is_read=False) }}">
          <i class="fa fa-comment fa-5x"></i><br>
          Feedback List
        </a>
      </li>
    </ul>
  </div>

# endblock
