# if current_user.id > 0
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user"></i>
      {{current_user.name}}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{url_for('user.profile')}}"><i class="fa fa-fw fa-edit"></i> Profile Settings</a></li>
      # if current_user.admin
        <li class="divider"></li>
        <li><a href="{{url_for('admin.index')}}"><i class="fa fa-fw fa-cog"></i> Admin</a></li>
        <li class="divider"></li>
      # endif
      <li><a href="{{url_for('auth.signout')}}"><i class="fa fa-fw fa-sign-out"></i> Sign out</a></li>
    </ul>
  </li>
# else
  <li class="{{'active' if html_class == 'signin'}}">
    <a href="{{url_for('auth.signin')}}"><i class="fa fa-sign-in"></i> Sign in</a>
  </li>
# endif
