# extends 'base.html'
# import 'macro/utils.html' as utils
# import 'auth/macro/providers.html' as providers

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block content
  <div class="page-header">
    <h1>{{title}} <small>It only takes 8 seconds</small></h1>
  </div>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

      # for provider in auth_providers
        {{ providers.signin_button(provider) }}
      # endfor

      <div class="checkbox remember">
        <label><input type="checkbox" checked> Keep me signed in</label>
      </div>
    </div>
  </div>
# endblock
