# extends 'base.html'
# import 'macro/forms.html' as forms

# block content
<div class="page-header">
  <h1>{{title}} <small>Any questions or suggestions are welcome</small></h1>
</div>

<form method="POST" action="." novalidate>
  {{form.csrf_token}}
  <div class="row">
    <div class="col-md-4 col-sm-6">
      # if form.name.data
        {{forms.text_field(form.name)}}
      # else
        {{forms.text_field(form.name, autofocus=True)}}
      # endif
    </div>
    <div class="col-md-4 col-sm-6">
      {{forms.email_field(form.email)}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12">
        # if form.name.data
          {{forms.textarea_field(form.message, rows=8, autofocus=True)}}
        # else
          {{forms.textarea_field(form.message, rows=8)}}
        # endif
        {{forms.recaptcha_field(form.recaptcha)}}
        <button type="submit" class="btn btn-primary btn-block btn-loading" data-loading-text="Sending Feedback..">
          Send Feedback
        </button>
    </div>
  </div>
</form>
# endblock
